{% extends "::base.html.twig" %}

{%  block title %}Collecty Sheet {% endblock %}
{% block pageTitle %}{{ 'Collectify Sheet '|upper }}{% endblock %}

{% block body %}
    <a href="{{ path('test_front_sheet_list') }}">Retour à la liste</a><br><br>
    {% include "FrontBundle:Includes:Sheets/information.html.twig" %}
{% endblock %}

{% block footer %}
    {% include "FrontBundle:Includes:Default/Footer.html.twig" %}
{% endblock %}


